<div id="HomeContainer">
    <section id="HomeCardContainer">
        <div class="HomeCard" id="HomeCardEntrada">
            <header>
                <p>Entradas</p>
                <img src="~/Content/img/Input.png" alt="Income" />
            </header>
            <h1 data-testid="balance-income">R$ 5.000,00</h1>
        </div>
        <div class="HomeCard" id="HomeCardSaida">
            <header>
                <p>Saídas</p>
                <img src="~/Content/img/Output.png" alt="Outcome" />
            </header>
            <h1 data-testid="balance-outcome">R$ 1.000,00</h1>
        </div>
        <div class="HomeCard" id="HomeCardTotal">
            <header>
                <p>Total</p>
                <img src="~/Content/img/Total.png" alt="Total" />
            </header>
            <h1 data-testid="balance-total">R$ 4000,00</h1>
        </div>
    </section>

    <section id="HomeTableContainer">
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Data</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td className="title">Computer</td>
                    <td className="income">R$ 5.000,00</td>
                    <td>Sell</td>
                    <td>20/04/2020</td>
                </tr>
                <tr>
                    <td className="title">Website Hosting</td>
                    <td className="outcome">- R$ 1.000,00</td>
                    <td>Hosting</td>
                    <td>19/04/2020</td>
                </tr>
            </tbody>
        </table>
    </section>

</div>


