#header header {
  background: #20bd70;
  padding: 30px 0;
  width: 1120px;
  margin: 0 auto;
  padding: 0 20px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #header header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.2s; }
    #header header nav a + a {
      margin-left: 32px; }
